.galleryImagesWrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    width: 100%;
    margin-bottom: 2rem;
}

.galleryImagesWrapper img {
    flex-grow: 1;
    height: auto !important;
    max-width: calc(20% - 20px);
    position: static  !important;
    cursor: pointer;
}

.lightboxOverlay, .lightboxWrapper {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
}

.lightboxOverlay {
    background: rgba(0,0,0,.5);
    z-index: 501;
}

.lightboxClose, .pageControls {
    position: fixed;
    background: transparent;
    border: none;
    cursor: pointer;
    z-index: 503;

}

.lightboxClose {
    top: 10px;
    right: 10px;
}

.pageControls {
    top: 50%;
    padding: 10px 15px;
    background: rgba(0,0,0,.3);
}

.previousButton {
    left: 20px;
    transform: translateY(-50%) rotate(180deg);
}

.nextButton {
    right: 20px;
    transform: translateY(-50%);
}

.lightboxWrapper {
    z-index: 500;
    display: flex;
    justify-content: center;
    align-items: center;
}

.lightboxImage {
    z-index: 502;
    height: auto !important;
    width: auto !important;
    max-width: 90vw;
    max-height: 90vh;
    position: relative !important;
}


@media (max-width: 900px){
    .pageControlsWrapper {
        position: fixed;
        bottom: 50px;
        left: 50%;
        transform: translateX(-50%);
        z-index: 505;
    }

    .pageControls {
        position: static;
        transform: none;
        padding: 15px 30px;
    }

    .pageControls img {
        height: 40px;
    }

    .previousButton {
        left: 20px;
        transform: rotate(180deg);
    }
}


@media (max-width: 1200px){
    .galleryImagesWrapper img {
      flex-grow: 1;
      height: auto;
      width: calc(33% - 20px);
      max-width: calc(33% - 20px);
    }
}

@media (max-width: 800px){
    .galleryImagesWrapper img {
      width: calc(50% - 20px);
      max-width: calc(50% - 20px);
    }
  }